<div class="card">
  <h3>{Astro.props.title}</h3>
  <p>{Astro.props.text}</p>
</div>

<style>
  .card {
    padding: var(--space-3);
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  h3 {
    margin-top: 0;
    margin-bottom: var(--space-2);
  }
</style>

