<section class="feature-section">
  <h2>{Astro.props.title}</h2>

  <div class="features">
    <slot />
  </div>
</section>

<style>
  .feature-section {
    margin-bottom: var(--space-5);
  }

  .features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--space-4);
  }
</style>

