<header>
  <nav>
    <a href="/">Startseite</a>
    <a href="/texte/">Texte</a>
    <a href="/wissensgarten/">Wissensgarten</a>
    <a href="/sparks/">Sparks</a>
    <a href="/paths/">Paths</a>
  </nav>
</header>

<style>
  /* Keine CI, reine technische Struktur */
  nav a {
    margin-right: 1rem;
    text-decoration: none;
    color: inherit;
  }
</style>

