---
import BaseLayout from "./BaseLayout.astro";
const { title, description } = Astro.props;
---

<BaseLayout title={title}>
  <slot slot="head" name="head" />

  <header class="garden-header content-container">
    {title && <h1 class="text-title">{title}</h1>}
    {description && <p class="garden-description">{description}</p>}
  </header>

  <section class="garden-container prose-garden">
    <slot />
  </section>
</BaseLayout>

