---
import BaseLayout from "./BaseLayout.astro";
const { title, subtitle } = Astro.props;
---

<BaseLayout title={title}>
  <slot slot="head" name="head" />

  <header class="text-header content-container">
    {title && <h1 class="text-title">{title}</h1>}
    {subtitle && <h2 class="text-subtitle">{subtitle}</h2>}
  </header>

  <article class="prose-text content-container">
    <slot />
  </article>
</BaseLayout>

